* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edf1f4;
}

.logo img {
  width: 50px;
  opacity: 0.8;
}

.logo img:hover {
  transform: scale(1.2);
  opacity: 1;
}

.calc-structure {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  /* position: relative; */
  width: 360px;
  height: 525px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px #fffb;
}

.calculator .display {
  width: 97%;
  height: 100px;
  text-align: end;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 20px #fff;
  /* color: rgb(238, 238, 238); */
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 0 20px;
  font-size: 2em;
  font-weight: 500;
  color: #5166d6;
  background-color: inherit;
  overflow: auto;
}

.calculator .display::-webkit-scrollbar {
  width: 0px;
}

.calculator .keys {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.calculator .keys div {
  width: 56px;
  height: 56px;
  position: relative;
  padding: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 20px #fff;
  margin: 10px;
  cursor: pointer;
  user-select: none;
  min-width: 40px;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  color: #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  text-align: center;
  z-index: 10;
}

.calculator .keys div:active {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 20px #fff;
  color: #f44336;
}

.dark {
  background-color: #282c2f;
}

.dark .calculator {
  background-color: #33393e;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 5px 15px 0px;
}

.dark .calculator .display {
  box-shadow: inset 15px 15px 20px rgba(0, 0, 0, 0.25),
    inset -15px -15px 20px rgba(255, 255, 255, 0.1);
  color: #eee;
}

.dark .calculator .keys div {
  background-color: #282c2f;
  color: #eee;
  padding: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    -5px -5px 10px rgba(255, 255, 255, 0.1);
}
